<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luojun.camel.admin.mapper.SysPermissionMapper">
  <resultMap id="BaseResultMap" type="com.luojun.camel.admin.domain.SysPermission">
    <!--@mbg.generated generated on Sun Jun 07 22:41:07 CST 2020.-->
    <!--@Table sys_permission-->
    <result column="ID" jdbcType="VARCHAR" property="id" />
    <result column="P_ID" jdbcType="VARCHAR" property="pId" />
    <result column="URL" jdbcType="VARCHAR" property="url" />
    <result column="COMPONENT" jdbcType="VARCHAR" property="component" />
    <result column="PATH" jdbcType="VARCHAR" property="path" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="TITLE" jdbcType="VARCHAR" property="title" />
    <result column="LEVEL" jdbcType="INTEGER" property="level" />
    <result column="SORT" jdbcType="INTEGER" property="sort" />
    <result column="ICON" jdbcType="VARCHAR" property="icon" />
    <result column="TYPE" jdbcType="VARCHAR" property="type" />
    <result column="BUTTON_TYPE" jdbcType="VARCHAR" property="buttonType" />
    <result column="STATUS" jdbcType="VARCHAR" property="status" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
    <result column="CREATED_BY" jdbcType="VARCHAR" property="createdBy" />
    <result column="CREATED_TIME" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="UPDATED_BY" jdbcType="VARCHAR" property="updatedBy" />
    <result column="UPDATED_TIME" jdbcType="TIMESTAMP" property="updatedTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated generated on Sun Jun 07 22:41:07 CST 2020.-->
    ID, P_ID, URL, COMPONENT, `PATH`, `NAME`, TITLE, `LEVEL`, SORT, ICON, `TYPE`, BUTTON_TYPE,
    `STATUS`, REMARK, CREATED_BY, CREATED_TIME, UPDATED_BY, UPDATED_TIME
  </sql>
  <select id="selectSysPermissionByuserId" resultMap="BaseResultMap">
    SELECT
    p.*
    FROM
    sys_user AS u
    LEFT JOIN sys_user_role AS ur
    ON u.id = ur.user_id
    LEFT JOIN sys_role AS r
    ON r.id = ur.role_id
    LEFT JOIN sys_role_permission AS rp
    ON r.id = rp.role_id
    LEFT JOIN sys_permission AS p
    ON p.id = rp.permission_id
    WHERE u.id = #{user_id}
  </select>
</mapper>
